# dependencies
node_modules
.pnp
.pnp.*

# next.js
.next/
out/
build
next-env.d.ts
*.tsbuildinfo

# prisma generated client
src/generated/

# env
.env
.env*.local
!.env.example

# logs
*.log
npm-debug.log*

# editors / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# vercel
.vercel
